#categories {
  display: flex;
  list-style: none;
}
.item {
  margin-right: 30px;
}
#gallery {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.gallery-item img {
  width: 350px;
  height: 350px;
}
#counter {
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  display: flex;
  justify-content: space-around;
}
#validation-input {
  border: 3px solid #bdbdbd;
  display: block;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
